name: Pytest CI

on: [push]

env:
  DAY_OF_WEEK: Monday

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # Checkout is required for compatibility with 
      # https://github.com/nektos/act-docs for local testing
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          path: "dolt-annex"
      - name: Run tests in docker container
        uses: ./
